@using crewlinkship.ViewModel

<div style="margin:20px">
    <div style="text-align:right; position:absolute; top:35px; right:45px">
        Form No-AC-004<br>
        ver3/2020
    </div>
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="10" style="font-family: Calibri; font-size: 10px; border: 2px solid #000;">
        <tbody>
            @foreach (PortageBillVM item in ViewBag.crewdeatil)
            {
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <th width="100%">
                                        <h2 style="text-transform: uppercase;">
                                            <u>
                                                @*ATLANTIC SHIP MANAGEMENT*@
                                                @ViewBag.managername
                                            </u>
                                        </h2>
                                        <h3>
                                            @*CREW PAYSLIP
                                                <br>For the payroll month : @String.Format("{0:MMM-yyyy}", @item.From)*@
                                            @if (item.SignOffDate == null)
                                            {
                                                <span>Monthly Wage Account</span>
                                            }
                                            else
                                            {
                                                <span>Final Wage Account</span>
                                            }
                                        </h3>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td width="30%" align="right">
                                                        Vessel Name<br>
                                                        Rank <br>
                                                        Name of Seafarer<br>
                                                        Date of Joining <br>
                                                        Currency <br>
                                                        Nationality
                                                    </td>
                                                    <td width="5%" align="center">
                                                        :<br>
                                                        :<br>
                                                        :<br>
                                                        :<br>
                                                        :<br>
                                                        :
                                                    </td>
                                                    <td width="65%">
                                                        <strong>
                                                            @item.Vessel<br>
                                                            @item.RankName<br>@item.CrewName<br>
                                                            @string.Format("{0:dd-MMM-yyyy}", item.SignOnDate)<br>
                                                            @item.Currency<br>
                                                            @item.Nationality
                                                        </strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="50%" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="5" style="border: 1px solid #000000; border-collapse: collapse">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" align="center" style="border: 1px solid #000000; background: #D9D9D9"><strong>Period</strong></td>
                                                </tr>
                                                <tr>
                                                    <td align="center">From <br></td>
                                                    <td align="center">To </td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><strong> @string.Format("{0:dd-MMM-yyyy}", item.From)</strong></td>
                                                    <td align="center"><strong>  @string.Format("{0:dd-MMM-yyyy}", item.To)</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="5" style="border: 1px solid #000000; border-collapse: collapse">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" align="center" style="border: 1px solid #000000; background: #D9D9D9"><strong>Earnings</strong></td>
                                                </tr>
                                                <tr>
                                                    <td width="75%">Basic Wages <br></td>
                                                    <td width="25%" style="text-align:right"> @string.Format("{0:n2}", (item.BasicWages / item.numberofday * @item.TotalDays))<br></td>
                                                </tr>
                                                <tr>
                                                    <td>Fixed / Guaranteed OT</td>
                                                    <td style="text-align:right"> @string.Format("{0:n2}", (item.FixedGtOT / item.numberofday * @item.TotalDays))</td>
                                                </tr>
                                                <tr>
                                                    <td>Leave Pay &amp; Subsitence Allow.</td>
                                                    <td style="text-align:right">  @string.Format("{0:n2}", (item.LeavePay / item.numberofday * @item.TotalDays))</td>
                                                </tr>
                                                <tr>
                                                    <td>Uniform Allow.</td>
                                                    <td style="text-align:right"> @string.Format("{0:n2}", item.UniformAllow / item.numberofday * @item.TotalDays)</td>
                                                </tr>
                                                <tr>
                                                    <td>Pension Fund</td>
                                                    <td style="text-align:right"> @string.Format("{0:n2}", item.PensionFund / item.numberofday * @item.TotalDays)</td>
                                                </tr>
                                                <tr>
                                                    <td>Special Allowance</td>
                                                    <td style="text-align:right"> @string.Format("{0:n2}", item.SpecialAllowance / item.numberofday * @item.TotalDays)</td>
                                                </tr>
                                                <tr>
                                                    <td>Other Allow.</td>
                                                    <td style="text-align:right"> @string.Format("{0:n2}", (item.OtherAllow / item.numberofday * @item.TotalDays))</td>
                                                </tr>

                                                <tr>
                                                    <td>Incentive Allow.</td>
                                                    <td style="text-align:right"> @string.Format("{0:n2}", (item.IncentiveAllowance / item.numberofday * @item.TotalDays))</td>
                                                </tr>
                                                <tr>
                                                    <td>Seniority</td>
                                                    <td style="text-align:right">  @string.Format("{0:n2}", (item.Seniority / item.numberofday * @item.TotalDays))</td>
                                                </tr>
                                                <tr>
                                                    <td>TankerAllowance</td>
                                                    <td style="text-align:right"> @string.Format("{0:n2}", (item.TankerAllowance / item.numberofday * @item.TotalDays))</td>
                                                </tr>
                                                <tr>
                                                    <td>Bonus</td>
                                                    <td style="text-align:right"> @string.Format("{0:n2}", (item.Bonus / item.numberofday * @item.TotalDays))</td>
                                                </tr>
                                                <tr>
                                                    <td>Seafarers PF</td>
                                                    <td style="text-align:right"> @string.Format("{0:n2}", (item.SeafarersPF / item.numberofday * @item.TotalDays))</td>
                                                </tr>
                                                <tr>
                                                    <td>Leave Wages-Addnl.</td>
                                                    <td style="text-align:right"> @string.Format("{0:n2}", (item.leavepayaddition / item.numberofday * @item.TotalDays))</td>
                                                </tr>
                                               @*  <tr>
                                                    <td>Other Allow.</td>
                                                    <td style="text-align:right"> @string.Format("{0:n2}", (item.OtherAllow / item.numberofday * @item.TotalDays))</td>
                                                </tr> *@
                                                <tr>
                                                    <td>Extra OT<br></td>
                                                    <td style="text-align:right">@string.Format("{0:n2}", item.extraot)</td>
                                                </tr>
                                                <tr>
                                                    <td>Other Earning<br></td>
                                                    <td style="text-align:right">@string.Format("{0:n2}", item.OtherEarnings)</td>
                                                </tr>
                                                <tr>
                                                    <td>Transit Wages</td>
                                                    <td style="text-align:right">@string.Format("{0:n2}", item.TransitWages)</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr style="border: 1px solid #000000; background: #D9D9D9">
                                                    <td><strong>a. Total Wages this month</strong></td>
                                                    <td style="text-align:right"><strong>@string.Format("{0:n2}", (item.BasicWages / item.numberofday * @item.TotalDays) + (item.FixedGtOT / item.numberofday * @item.TotalDays) + (item.LeavePay / item.numberofday * @item.TotalDays) + (item.UniformAllow / item.numberofday * @item.TotalDays) + (item.PensionFund / item.numberofday * @item.TotalDays)
                                                                     + (item.SpecialAllowance / item.numberofday * @item.TotalDays)
                                                                     //+ (item.CompanyAllowance / item.numberofday * @item.TotalDays) + (item.SecurityAllow / item.numberofday * @item.TotalDays) + (item.TempFuelAllow / item.numberofday * @item.TotalDays)
                                                                     + (item.IncentiveAllowance / item.numberofday * @item.TotalDays) + (item.Seniority / item.numberofday * @item.TotalDays) + (item.TankerAllowance / item.numberofday * @item.TotalDays) + (item.Housing / item.numberofday * @item.TotalDays)
                                                                     + (item.Transport / item.numberofday * @item.TotalDays) + (item.Utility / item.numberofday * @item.TotalDays) + (item.Bonus / item.numberofday * @item.TotalDays) + (item.SeafarersPF / item.numberofday * @item.TotalDays)
                                                                     + (item.leavepayaddition / item.numberofday * @item.TotalDays)
                                                    + (item.OtherAllow / item.numberofday * @item.TotalDays) + item.extraot + item.OtherEarnings + item.TransitWages)</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="5" style="border: 1px solid #000000; border-collapse: collapse">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" align="center" style="border: 1px solid #000000; background: #D9D9D9"><strong>Other Earnings</strong></td>
                                                </tr>
                                                <tr>
                                                    <td width="75%">Bal from Prev Month <br></td>
                                                    <td width="25%" style="text-align:right">@string.Format("{0:n2}", item.PrevMonthBal)<br></td>
                                                </tr>
                                                <tr>
                                                    <td>Reimbursement </td>
                                                    <td style="text-align:right">@string.Format("{0:n2}", item.Reimbursement)</td>
                                                </tr>
                                                @if (item.SignOffDate != null)
                                                {
                                                    <tr>
                                                        <td>
                                                            <span>Leave wages B/F</span>
                                                        </td>
                                                        <td style="text-align:right">
                                                            @string.Format("{0:n2}", item.LeaveWagesBF)
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>
                                                            <span>&nbsp;</span>
                                                        </td>
                                                        <td style="text-align:right">
                                                            <span></span>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr style="background: #D9D9D9">
                                                    <td><strong>b. Other Payable</strong></td>
                                                    <td style="text-align:right">
                                                        <strong>
                                                            @if (item.SignOffDate != null)
                                                            {
                                                                @string.Format("{0:n2}", (item.PrevMonthBal + item.Reimbursement + item.LeaveWagesBF))
                                                            }
                                                            else
                                                            {@string.Format("{0:n2}", (item.PrevMonthBal + item.Reimbursement))
                                                        }
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr style="border: 1px solid #000000; background: #D9D9D9">
                                                    <td align="center"><strong>Total Earning  (a+b)</strong></td>
                                                    <td style="text-align:right"><strong>@string.Format("{0:n2}", item.TotalPayable)</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #000000; border-collapse: collapse">
                                            <tbody>
                                                <tr>
                                                    <td align="center" style="background: #D9D9D9"><strong>Accumulated leave wage  - C/F</strong></td>
                                                    <td align="center" style="text-align:right">
                                                        <strong>
                                                            @if (item.SignOffDate == null)
                                                            {
                                                                @string.Format("{0:n2}", item.LeaveWagesBF);
                                                            }
                                                            else
                                                            {
                                                                <span>0.00</span>
                                                            }

                                                        </strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="50%" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="5" style="border: 1px solid #000000; border-collapse: collapse">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" align="center" style="border: 1px solid #000000; background: #D9D9D9"><strong>Deductions </strong></td>
                                                </tr>
                                                <tr>
                                                    <td width="75%">
                                                        Leave Pay + Subsitence  C/F (This Month)
                                                        <br>
                                                    </td>
                                                    <td width="25%" style="text-align:right">
                                                        @if (item.SignOffDate == null)
                                                        {@string.Format("{0:n2}", item.WFdeduction);
                                                    }
                                                    else
                                                    { <span>0.00</span>}
                                                        <br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="75%">Cash Advance<br></td>
                                                    <td width="25%" style="text-align:right"> @string.Format("{0:n2}", item.CashAdvance)<br></td>
                                                </tr>
                                                <tr>
                                                    <td>Bonded Stores</td>
                                                    <td style="text-align:right"> @string.Format("{0:n2}", item.BondedStores)</td>
                                                </tr>
                                                <tr>
                                                    <td>Other Deduction</td>
                                                    <td style="text-align:right"> @string.Format("{0:n2}", item.OtherDeductions)</td>
                                                </tr>
                                                @if (item.Nationality == "Nigerian")
                                                {
                                                    <tr>
                                                        <td>8.0% PF Employee Contribution (On Basic)</td>
                                                        <td style="text-align:right"> @string.Format("{0:n2}", item.PFAmount)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2.0% Union Dues (On Gross)</td>
                                                        <td style="text-align:right">@string.Format("{0:n2}", item.UDAmount)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1.0% Welfare fund (On Gross)</td>
                                                        <td style="text-align:right">@string.Format("{0:n2}", item.WFAmount)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            WHT@5%
                                                        </td>
                                                        <td style="text-align:right">@string.Format("{0:n2}", item.Tax)</td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>8.0% PF Employee Contribution (On Basic)</td>
                                                        <td style="text-align:right">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2.0% Union Dues (On Gross)</td>
                                                        <td style="text-align:right">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1.0% Welfare fund (On Gross)</td>
                                                        <td style="text-align:right">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>WHT                    <br></td>
                                                        <td style="text-align:right">0.00</td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td>PF Deduction(Indian)</td>
                                                    <td style="text-align:right">@string.Format("{0:n2}", item.authorityDeduction)</td>
                                                </tr>
                                                <tr>
                                                    <td>Allotment<br></td>
                                                    <td style="text-align:right">@string.Format("{0:n2}", item.Allotments)</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr style="border: 1px solid #000000; background: #D9D9D9">
                                                    <td><strong>c. Total Deduction Onboard</strong></td>
                                                    <td style="text-align:right"><strong> @string.Format("{0:n2}", item.TotalDeductions)</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #000000; border-collapse: collapse">
                                            <tbody>
                                                <tr>
                                                    <td align="center" style="background: #D9D9D9">
                                                        <strong>
                                                            Balance carried forward

                                                        </strong>
                                                    </td>
                                                    <td align="center" style="text-align:right"><strong>@string.Format("{0:n2}", item.FinalBalance)</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                @*<tr>
                                        <td colspan="2" valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #000000; border-collapse: collapse">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" style="background: #D9D9D9"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>*@

                                @*<tr>
                                        <td colspan="2" valign="top">
                                            Instruction to Master <br>
                                            If Master signs-off : Service reports on all officers and crew to be made.<br>
                                            If C/O or C/E signs off : Service reports on particular department to be made<br>
                                            Remarks if any. To be typed on the reverse of this form
                                        </td>
                                    </tr>*@
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        ----------------------------------------------
                                                        <br />
                                                        Master
                                                        <br />
                                                        <strong><asp:Label ID="Label1" Font-Bold="true" runat="server" Text=""></asp:Label></strong>
                                                        <br />Vessel Stamp & Sign
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="50%" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align:right">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        ---------------------------------------<br />
                                                        Seafarer Sign<br />
                                                        <strong>@item.CrewName</strong>
                                                        <br />
                                                        Concur and accepted
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>