@model IEnumerable<crewlinkship.Models.TblCrewAddress>
@{
    ViewBag.Title = "Address";
}
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu popup-fixed-top fixed-top navbar-dark navbar-shadow navbar-brand-center">
    <div class="navbar-wrapper">
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-with-cover m-b-0">
                        <div class="card-img-top img-fluid bg-cover height-100" style="background: #E3EBF3"></div>
                        <div class="media profil-cover-details w-100">
                            <div class="media-body pt-5 px-2">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="card-title m-b-0" style="font-size: 1.4rem;">@ViewBag.rankName.FirstName @ViewBag.rankName.MiddleName @ViewBag.rankName.LastName <span class="alert bg-success p-t-3 p-b-3 font-small-3 position-relative position-tm-3">@ViewBag.rankName.Status</span></h3>
                                        <div>
                                            @ViewBag.rankName.Rank?.RankName | @ViewBag.rankName.Vessel?.VesselName <span hidden="hidden" id="crewIdAddress">@ViewBag.rankName.CrewId</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="navbar navbar-profile align-self-end m-r-30">
                            <div id="navigation">
                                <ul>
                                    <li class="has-sub active">
                                        <a>Personal Details</a>
                                        <ul>
                                            <li><a class="details" href="javascript:;">Particulars</a></li>
                                            <li><a class="address" href="javascript:;">Address</a></li>
                                            <li><a id="Bankdetails" href="javascript:;">Bank Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a>Documents</a>
                                        <ul>
                                            <li><a id="license" href="javascript:;">License</a></li>
                                            <li><a id="courses" href="javascript:;">Courses</a></li>
                                            <li><a id="otherDocuments" href="javascript:;">Other Documents</a></li>
                                        </ul>
                                    </li>
                                    <li><a id="crewtraveldoc" href="javascript:;">Travel Documents</a></li>

                                    @*<li class="icon" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Activity Log" data-original-title="" title=""><a href=""><i class="fa fa-file" aria-hidden="true"></i></a></li>*@
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header  navbar-dark">
                <h5 class="modal-title">
                    <img class="brand-logo" alt="stack admin logo" src="app-assets/images/logo/Crewlink-logo-light.png">
                </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>@*@Particulars*@
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#navigation .details").click(function () {
            var crewId = $("#crewIdAddress").html();
            $.ajax({
                type: "GET",
                url: "/Home/Details",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
@*Bankdetails*@
<script type="text/javascript">
    $(function () {
        $("#Bankdetails").click(function () {
            var crewId = $("#crewIdAddress").html();
            $.ajax({
                type: "GET",
                url: "/Home/Bankdetails",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>


@*License*@
<script type="text/javascript">
    $(function () {
        $("#license").click(function () {
            var crewId = $("#crewIdAddress").html();
            $.ajax({
                type: "GET",
                url: "/Home/License",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Courses*@
<script type="text/javascript">
    $(function () {
        $("#courses").click(function () {
            var crewId = $("#crewIdAddress").html();
            $.ajax({
                type: "GET",
                url: "/Home/Courses",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*OtherDocuments*@
<script type="text/javascript">
    $(function () {
        $("#otherDocuments").click(function () {
            var crewId = $("#crewIdAddress").html();
            $.ajax({
                type: "GET",
                url: "/Home/OtherDocuments",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Crewtraveldoc*@
<script type="text/javascript">
    $(function () {
        $("#crewtraveldoc").click(function () {
            var crewId = $("#crewIdAddress").html();
            $.ajax({
                type: "GET",
                url: "/Home/Crewtraveldoc",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
<!-- / main menu-->
<div class="app-content content fixed-navbar-inner-crew">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="col-xl-6 col-lg-12">
                <h4 class="content-header-title m-b-10 m-t-5">Address</h4>
            </div>
            <div class="col-xl-6 col-lg-12 nopl">
            </div>
        </div>
        <div class="content-body">
            <div class="row match-height" id="switch">
                <div class="col-xl-6 col-lg-12">
                    <section id="descriptioin" class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <h4 class="card-title p-t-5 proper-case">Permanent</h4>
                                </div>
                                <div class="col-xl-6 col-lg-12">
                                    <div class="float-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>

                                        <tr>
                                            <th width="50%">Flat, House no., Building</th>
                                            <td width="50%">@ViewBag.address.Address1</td>
                                        </tr>
                                        <tr>
                                            <th>Area, Colony, Street, Sector, Village</th>
                                            <td>@ViewBag.address.Address2 </td>
                                        </tr>
                                        <tr>
                                            <th>Country</th>
                                            <td>@ViewBag.address.Country?.CountryName</td>
                                        </tr>
                                        <tr>
                                            <th>State</th>
                                            <td>@ViewBag.address.State?.StateName</td>
                                        </tr>
                                        <tr>
                                            <th>Town / City</th>
                                            <td>@ViewBag.address.City?.CityName</td>
                                        </tr>
                                        <tr>
                                            <th>Postcode</th>
                                            <td>@ViewBag.address.Postcode</td>
                                        </tr>
                                        <tr>
                                            <th>Residential Phone</th>
                                            <td>@ViewBag.address.PhoneNumber</td>
                                        </tr>
                                        <tr>
                                            <th>Mobile Number</th>
                                            <td>@ViewBag.address.MobileNumber</td>
                                        </tr>
                                        <tr>
                                            <th>E-mail</th>
                                            <td>@ViewBag.address.Email</td>
                                        </tr>
                                        <tr>
                                            <th>Nearest Airport</th>
                                            <td>@ViewBag.address.Airport?.CityName</td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <section id="descriptioin" class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <h4 class="card-title p-t-5 proper-case">Correspondence</h4>
                                </div>
                                <div class="col-xl-6 col-lg-12">


                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                @if (ViewBag.corsAddress != null)
                                {
                                    <table class="table">
                                        <tbody>

                                            <tr>
                                                <th width="50%">Flat, House no., Building</th>
                                                <td width="50%">@ViewBag.corsAddress.Caddress1</td>
                                            </tr>
                                            <tr>
                                                <th>Area, Colony, Street, Sector, Village</th>
                                                <td>@ViewBag.corsAddress.Caddress2</td>
                                            </tr>
                                            <tr>
                                                <th>Country</th>
                                                <td>@ViewBag.corsAddress.Country?.CountryName</td>
                                            </tr>
                                            <tr>
                                                <th>State</th>
                                                <td>@ViewBag.corsAddress.State?.StateName</td>
                                            </tr>
                                            <tr>
                                                <th>Town / City</th>
                                                <td>@ViewBag.corsAddress.City?.CityName</td>
                                            </tr>
                                            <tr>
                                                <th>Postcode</th>
                                                <td>@ViewBag.corsAddress.Postcode</td>
                                            </tr>
                                            <tr>
                                                <th>Nearest Airport</th>
                                                <td>@ViewBag.corsAddress.Airport?.CityName</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidenav-overlay"></div>
