@model IEnumerable<crewlinkship.Models.TblCrewBankDetail>
@{
    ViewBag.Title = "Bankdetails";
}
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu popup-fixed-top fixed-top navbar-dark navbar-shadow navbar-brand-center">
    <div class="navbar-wrapper">
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-with-cover m-b-0">
                        <div class="card-img-top img-fluid bg-cover height-100" style="background: #E3EBF3"></div>
                        <div class="media profil-cover-details w-100">
                            <div class="media-body pt-5 px-2">
                                <div class="row">
                                    <div class="col">
                                        @foreach (TblCrewDetail item in ViewBag.rankName)
                                        {
                                            <h3 class="card-title m-b-0" style="font-size: 1.4rem;">@item.FirstName @item.MiddleName @item.LastName <span class="alert bg-success p-t-3 p-b-3 font-small-3 position-relative position-tm-3">@item.Status</span></h3>
                                            <div>@item.Rank?.RankName | @item.Vessel?.VesselName</div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="navbar navbar-profile align-self-end m-r-30">
                            <div id="navigation">
                                <ul>
                                    <li class="has-sub active">
                                        <a>Personal Details</a>
                                        <ul>
                                            <li><a class="details" href="javascript:;">Particulars</a></li>
                                            <li><a class="address" href="javascript:;">Address</a></li>
                                            <li><a class="Bankdetails" href="javascript:;">Bank Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a>Documents</a>
                                        <ul>
                                            <li><a id="license" href="javascript:;">License</a></li>
                                            <li><a id="courses" href="javascript:;">Courses</a></li>
                                            <li><a id="otherDocuments" href="javascript:;">Other Documents</a></li>
                                        </ul>
                                    </li>
                                    <li><a id="crewtraveldoc" href="javascript:;">Travel Documents</a></li>
                                    @*<li class="icon" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Activity Log" data-original-title="" title=""><a href=""><i class="fa fa-file" aria-hidden="true"></i></a></li>*@
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header  navbar-dark">
                <h5 class="modal-title">
                    <img class="brand-logo" alt="stack admin logo" src="app-assets/images/logo/Crewlink-logo-light.png">
                </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@*Particulars*@
<script type="text/javascript">
    $(function () {
        $("#navigation .details").click(function () {
            var crewId = $("#CrewAddId").html();
            $.ajax({
                type: "GET",
                url: "/Home/Details",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Address*@
<script type="text/javascript">
    $(function () {
        $("#navigation .address").click(function () {
            var crewId = $("#CrewAddId").html();
            $.ajax({
                type: "GET",
                url: "/Home/Address",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*License*@
<script type="text/javascript">
    $(function () {
        $("#license").click(function () {
            var crewId = $("#CrewAddId").html();
            $.ajax({
                type: "GET",
                url: "/Home/License",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Courses*@
<script type="text/javascript">
    $(function () {
        $("#courses").click(function () {
            var crewId = $("#CrewAddId").html();
            $.ajax({
                type: "GET",
                url: "/Home/Courses",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*OtherDocuments*@
<script type="text/javascript">
    $(function () {
        $("#otherDocuments").click(function () {
            var crewId = $("#CrewAddId").html();
            $.ajax({
                type: "GET",
                url: "/Home/OtherDocuments",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Crewtraveldoc*@
<script type="text/javascript">
    $(function () {
        $("#crewtraveldoc").click(function () {
            var crewId = $("#CrewAddId").html();
            $.ajax({
                type: "GET",
                url: "/Home/Crewtraveldoc",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
@*/ main menu*@

<div class="app-content content fixed-navbar-inner-crew">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="col-xl-6 col-lg-12">
                <h4 class="content-header-title m-b-10 m-t-5">Bank Details</h4>
            </div>
            <div class="col-xl-6 col-lg-12 nopl">
            </div>
        </div>
        <div class="content-body">
            <div class="row match-height" id="switch">
                <div class="col-xl-6 col-lg-12">
                    <section id="descriptioin" class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <h4 class="card-title p-t-5 proper-case">Primary Bank Details</h4>
                                </div>
                                @*<div class="col-xl-6 col-lg-12">
                                        <div class="float-right">
                                            <button class="btn btn-primary form-small p-t-3 p-b-3" type="button" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Edit"><i class="fas fa-edit" aria-hidden="true"></i></button>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        @foreach (TblCrewBankDetail item in ViewBag.primaryBank)
                                        {
                                            <tr>
                                                <th width="50%">Beneficiary</th>
                                                <td width="50%">@item.Beneficiary</td>
                                            </tr>
                                            <tr>
                                                <th>Acc Number</th>
                                                <td>@item.AccountNumber<span hidden="hidden" id="CrewAddId">@item.CrewId</span></td>
                                            </tr>
                                            <tr>
                                                <th>IFSC/IBAN Number(If applicable)</th>
                                                <td>@item.Ifsccode</td>
                                            </tr>
                                            <tr>
                                                <th>Name of bank</th>
                                                <td>@item.BankName</td>
                                            </tr>
                                            <tr>
                                                <th>Swift Code</th>
                                                <td>@item.SwiftCode</td>
                                            </tr>
                                            <tr>
                                                <th>Bank address</th>
                                                <td>@item.BankAddress , @item.BankAddress2</td>
                                            </tr>
                                            <tr>
                                                <th>Country</th>
                                                <td>@item.Country?.CountryName</td>
                                            </tr>
                                            <tr>
                                                <th>State</th>
                                                <td>@item.State?.StateName</td>
                                            </tr>
                                            <tr>
                                                <th>City</th>
                                                <td>@item.City?.CityName</td>
                                            </tr>
                                            <tr>
                                                <th>Postcode</th>
                                                <td>@item.Postcode</td>
                                            </tr>
                                            <tr>
                                                <th>Sort Code(If applicable)</th>
                                                <td>@item.SortCode</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <section id="descriptioin" class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <h4 class="card-title p-t-5 proper-case">Secondary Bank Details</h4>
                                </div>
                                @*<div class="col-xl-6 col-lg-12">
                                        <div class="float-right">
                                            <input type="checkbox"> Same as Primary <span class="m-r-100"></span>
                                                <button class="btn btn-primary form-small p-t-3 p-b-3" type="button" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Edit"><i class="fas fa-edit" aria-hidden="true"></i></button>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        @foreach (TblCrewBankDetail item in ViewBag.secondaryBank)
                                        {

                                            <tr>
                                                <th width="50%">Beneficiary</th>
                                                <td width="50%">@item.Beneficiary</td>
                                            </tr>
                                            <tr>
                                                <th>Acc Number</th>
                                                <td>@item.AccountNumber</td>
                                            </tr>
                                            <tr>
                                                <th>IFSC/IBAN Number(If applicable)</th>
                                                <td>@item.Ifsccode</td>
                                            </tr>
                                            <tr>
                                                <th>Name of bank</th>
                                                <td>@item.BankName</td>
                                            </tr>
                                            <tr>
                                                <th>Swift Code</th>
                                                <td>@item.SwiftCode</td>
                                            </tr>
                                            <tr>
                                                <th>Bank address</th>
                                                <td>@item.BankAddress , @item.BankAddress2</td>
                                            </tr>
                                            <tr>
                                                <th>Country</th>
                                                <td>@item.Country?.CountryName</td>
                                            </tr>
                                            <tr>
                                                <th>State</th>
                                                <td>@item.State?.StateName</td>
                                            </tr>
                                            <tr>
                                                <th>City</th>
                                                <td>@item.City?.CityName</td>
                                            </tr>
                                            <tr>
                                                <th>Postcode</th>
                                                <td>@item.Postcode</td>
                                            </tr>
                                            <tr>
                                                <th>Sort Code(If applicable)</th>
                                                <td>@item.SortCode</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidenav-overlay"></div>
