@using crewlinkship.Models
@{
    ViewBag.Title = "Crewtraveldoc";
}
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu popup-fixed-top fixed-top navbar-dark navbar-shadow navbar-brand-center">
    <div class="navbar-wrapper">
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-with-cover m-b-0">
                        <div class="card-img-top img-fluid bg-cover height-100" style="background: #E3EBF3"></div>
                        <div class="media profil-cover-details w-100">
                            <div class="media-body pt-5 px-2">
                                <div class="row">
                                    <div class="col">
                                        @foreach (TblCrewDetail item in ViewBag.rankName)
                                        {

                                            <h3 class="card-title m-b-0" style="font-size: 1.4rem;"> @item.FirstName @item.MiddleName @item.LastName <span class="alert bg-success p-t-3 p-b-3 font-small-3 position-relative position-tm-3"> @item.Status</span></h3>
                                            <div> @item.Rank?.RankName | @item.Vessel?.VesselName<span hidden="hidden" id="crewTravelDocId">@item.CrewId</span></div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                        <nav class="navbar navbar-profile align-self-end m-r-30">
                            <div id="navigation">
                                <ul>
                                    <li class="has-sub active">
                                        <a>Personal Details</a>
                                        <ul>
                                            @foreach (TblCrewDetail item in ViewBag.rankName)
                                            {
                                                <li><a class="details" href="javascript:;">Particulars</a></li>
                                                <li style="display: @(item.Status.ToString().Contains("Onboard") ? "contents" : "none")"><a id="address" href="javascript:;">Address</a></li>
                                                <li><a id="Bankdetails" href="javascript:;">Bank Details</a></li>
                                            }
                                            </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a>Documents</a>
                                        <ul>
                                            <li><a id="license" href="javascript:;">License</a></li>
                                            <li><a id="courses" href="javascript:;">Courses</a></li>
                                            <li><a id="otherDocuments" href="javascript:;">Other Documents</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="crewtraveldoc" href="javascript:;">Travel Documents</a></li>
                                    @*<li class="icon" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Activity Log" data-original-title="" title=""><a href=""><i class="fa fa-file" aria-hidden="true"></i></a></li>*@
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header  navbar-dark">
                <h5 class="modal-title">
                    <img class="brand-logo" alt="stack admin logo" src="app-assets/images/logo/Crewlink-logo-light.png">
                </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/jquery.min.js"></script>
@*Particulars*@
<script type="text/javascript">
    $(function () {
        $("#navigation .details").click(function () {
            var crewId = $("#crewTravelDocId").html();
            $.ajax({
                type: "GET",
                url: "/Home/Details",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Address*@
<script type="text/javascript">
    $(function () {
        $("#address").click(function () {
            var crewId = $("#crewTravelDocId").html();
            $.ajax({
                type: "GET",
                url: "/Home/Address",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Bankdetails*@
<script type="text/javascript">
    $(function () {
        $("#Bankdetails").click(function () {
            var crewId = $("#crewTravelDocId").html();
            $.ajax({
                type: "GET",
                url: "/Home/Bankdetails",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*License*@
<script type="text/javascript">
    $(function () {
        $("#license").click(function () {
            var crewId = $("#crewTravelDocId").html();
            $.ajax({
                type: "GET",
                url: "/Home/License",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Courses*@
<script type="text/javascript">
    $(function () {
        $("#courses").click(function () {
            var crewId = $("#crewTravelDocId").html();
            $.ajax({
                type: "GET",
                url: "/Home/Courses",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*OtherDocuments*@
<script type="text/javascript">
    $(function () {
        $("#otherDocuments").click(function () {
            var crewId = $("#crewTravelDocId").html();
            $.ajax({
                type: "GET",
                url: "/Home/OtherDocuments",
                data: { 'crewId': crewId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

<!-- / main menu-->
<div class="app-content content fixed-navbar-inner-crew">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="col-xl-6 col-lg-12">
                <h4 class="content-header-title m-b-10 m-t-5">Travel Document Details</h4>
            </div>
            <div class="col-xl-6 col-lg-12 nopl">
            </div>
        </div>
        <div class="content-body">
            <div class="row match-height" id="switch">
                <div class="col-lg-12 col-md-12 col-12">
                    <section id="descriptioin" class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <h4 class="card-title p-t-5 proper-case">Passport</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div id="goal-list-scroll" class="table-responsive position-relative">
                                <table class="table table-hover table-bordered mb-0 crew-table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>PassportNumber</th>
                                            <th>Place</th>
                                            <th>Date of Issue</th>
                                            <th>Date of Expiry</th>
                                            <th>Minimum Blank Pages</th>
                                            <th>ECNR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (TblPassport ppt in ViewBag.passport)
                                        {
                                            <tr>
                                                <td>@ppt.Country?.CountryName></td>
                                                <td>@ppt.PassportNumber</td>
                                                <td>@ppt.Place</td>
                                                <td>@(ppt.Doi == null ? "NA" : String.Format("{0:dd-MMM-yyyy}", ppt.Doi))</td>
                                                <td>@(ppt.Doe == null ? "NA" : String.Format("{0:dd-MMM-yyyy}", ppt.Doe))</td>
                                                <td>@ppt.BlankPages</td>
                                                <td>@ppt.Ecnr</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <section id="descriptioin" class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <h4 class="card-title p-t-5 proper-case">Visa</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div id="goal-list-scroll" class="table-responsive position-relative">
                                <table class="table table-hover table-bordered mb-0 crew-table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>Visa Type</th>
                                            <th>Visa Number</th>
                                            <th>Place</th>
                                            <th>Date of Issue</th>
                                            <th>Date of Expiry</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (TblVisa visa in ViewBag.visa)
                                        {
                                            <tr>
                                                <td>@visa.Country?.CountryName</td>
                                                <td>@visa.VisaSubType</td>
                                                <td>@visa.VisaNumber</td>
                                                <td>@visa.Place</td>
                                                <td>@(visa.Doi == null ? "NA" : String.Format("{0:dd-MMM-yyyy}", visa.Doi))</td>
                                                <td>@(visa.Doe == null ? "NA" : String.Format("{0:dd-MMM-yyyy}", visa.Doe))</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <section id="descriptioin" class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <h4 class="card-title p-t-5 proper-case">Seaman Book (C.D.C)</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div id="goal-list-scroll" class="table-responsive position-relative">
                                <table class="table table-hover table-bordered mb-0 crew-table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>CDC Number</th>
                                            <th>Place</th>
                                            <th>Date of Issue</th>
                                            <th>Date of Expiry</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (TblCdc cdc in ViewBag.cdc)
                                        {
                                            <tr>
                                                <td>@cdc.Country?.CountryName</td>
                                                <td>@cdc.Cdcnumber</td>
                                                <td>@cdc.Place</td>
                                                <td>@(cdc.Doi == null ? "NA" : String.Format("{0:dd-MMM-yyyy}", cdc.Doi))</td>
                                                <td>@(cdc.Doe == null ? "NA" : String.Format("{0:dd-MMM-yyyy}", cdc.Doe))</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <section id="descriptioin" class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <h4 class="card-title p-t-5 proper-case">Yellow Fever Vaccination</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered mb-0 crew-table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Reference</th>
                                            <th>Place</th>
                                            <th>Doctor</th>
                                            <th>Vaccination Batch</th>
                                            <th>Vaccination Date</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (TblYellowfever yf in ViewBag.yf)
                                        {
                                            <tr>
                                                <td>@yf.Reference</td>
                                                <td>@yf.Place</td>
                                                <td>@yf.VendorRegister.VendorName</td>
                                                <td>@yf.VaccineBatch</td>
                                                <td>@(yf.VaccineDate == null ? "NA" : String.Format("{0:dd-MMM-yyyy}", yf.VaccineDate))</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidenav-overlay"></div>
