@model crewlinkship.Models.TblEmail
@{
    ViewBag.Title = "Emailconfigure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content container center-layout fixed-navbar-inner pb-5">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-6 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                            <div class="card-header border-0">
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2 mb-0">
                                    <span>Email configure</span>
                                </h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">


                                    @using (Html.BeginForm("EmailSave", "Home", FormMethod.Post))
                                    {


                                        <fieldset class="form-group mb-1">

                                            <input type="text" id="emailId" name="emailId" class="form-control" value="@(ViewBag.Email == null ? "": ViewBag.Email.EmailId)" placeholder="Your Email Address">

                                        </fieldset>
                                        <fieldset class="form-group mb-1">
                                            <input type="password" id="Password" name="password" class="form-control" value="@(ViewBag.Email == null ? "": ViewBag.Email.Password)" placeholder="Enter Password">
                                        </fieldset>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <fieldset class="form-group mb-1">
                                                    <input type="text" id="Smtp" name="smtp" class="form-control" value="@(ViewBag.Email == null ? "": ViewBag.Email.Smtp)" placeholder="SMTP">
                                                </fieldset>
                                            </div>                                         
                                            <div class="col-md-4">
                                                <fieldset class="form-group mb-1">
                                                    <input type="text" id="Port" name="port" class="form-control" value="@(ViewBag.Email == null ? "": ViewBag.Email.Port)" placeholder="PORT">
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <fieldset class="form-group mb-1">
                                                    <input type="text" id="Pop" name="pop" class="form-control" value="@(ViewBag.Email == null ? "": ViewBag.Email.Pop)" placeholder="POP">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-4">
                                                <fieldset class="form-group mb-1">
                                                    <input type="text" id="Port" name="port" class="form-control" value="@(ViewBag.Email == null ? "": ViewBag.Email.Port)" placeholder="PORT">
                                                </fieldset>
                                            </div>
                                        </div>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-unlock"></i> Register</button>


                                    }
                                    &nbsp;
                                    <button type="submit" id="checksmtp" class="btn btn-primary btn-lg btn-block" onclick="SMTPButton()"><i class="ft-unlock"></i> Check SMTP</button>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-unlock"></i> Check POP</button>
                                </div>

                                    </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    function SMTPButton() {
           getSmtp = $("#Smtp").val();
           getport = $("#Port").val();

          $.ajax({
           type: "POST",
              url: '@Url.Action("CheckSMTP", "Home")',
              data: { 'smtp': getSmtp, 'portNo': getport },
              dataType: "json",
          }).done(function (data) {

              alert(data.message)
              if (data.message == true) {
                 
                  $("#checksmtp").removeClass('btn btn-primary');
                  $("#checksmtp").addClass('btn btn-success');
                  localStorage.ClassName = "btn btn-success";
              }
              if (data.message == false) {
           
                  $("#checksmtp").removeClass('btn btn-primary');
                  $("#checksmtp").addClass('btn btn-danger');
                  localStorage.ClassName = "btn btn-danger";
              }
              
          });

    }
    $(document).ready(function () {
        SetClass();
    });

    function SetClass() {
        //before assigning class check local storage if it has any value
        $("#checksmtp").addClass(localStorage.ClassName);
    }
</script>



