@model crewlinkship.Models.TblEmail
@{
    ViewBag.Title = "Emailconfigure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content container center-layout fixed-navbar-inner pb-5">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-6 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                            <div class="card-header border-0">
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2 mb-0">
                                    <span>Email configure</span>
                                </h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                  
                                        @using (Html.BeginForm("EmailSend", "Home", FormMethod.Post))
                                        {
                                            <fieldset class="form-group mb-1">
                                              
                                                @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @placeholder = "Your Email Address" })
                                                @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "error" })
                                            </fieldset>
                                            <fieldset class="form-group mb-1">
                                               
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                                            </fieldset>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <fieldset class="form-group mb-1">
                                                      
                                                        @Html.TextBoxFor(m => m.Smtp, new { @class = "form-control", @placeholder = "SMTP" })
                                                        @Html.ValidationMessageFor(m => m.Smtp, "", new { @class = "error" })
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-4">
                                                    <fieldset class="form-group mb-1">
                                                       
                                                        @Html.TextBoxFor(m => m.Pop, new { @class = "form-control", @placeholder = "POP" })
                                                        @Html.ValidationMessageFor(m => m.Pop, "", new { @class = "error" })
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-4">
                                                    <fieldset class="form-group mb-1">
                                                       
                                                        @Html.TextBoxFor(m => m.Port, new { @class = "form-control", @placeholder = "PORT" })
                                                        @Html.ValidationMessageFor(m => m.Port, "", new { @class = "error" })
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-unlock"></i> Register</button>
                                        }
                                  

                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>




