@model  crewlinkship.Models.TblEmail
                                                 
@{
    ViewBag.Title="Emailconfigure" ;
     Layout="~/Views/Shared/_Layout.cshtml" ;
         }

<div class="app-content container center-layout fixed-navbar-inner pb-5">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-6 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                            <div class="card-header border-0">
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2 mb-0">
                                    <span>Email configure</span>
                                </h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    @foreach (TblEmail tblEmail in ViewBag.Email)
                                    {



                                        <fieldset class="form-group mb-1">

                                            @Html.TextBoxFor(m => tblEmail.EmailId, new { @class = "form-control", @placeholder = "Your Email Address" })
                                            @Html.ValidationMessageFor(m => tblEmail.EmailId, "", new { @class = "error" })
                                        </fieldset>
                                        <fieldset class="form-group mb-1">

                                            @Html.TextBoxFor(m => tblEmail.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                                            @Html.ValidationMessageFor(m => tblEmail.Password, "", new { @class = "error" })
                                        </fieldset>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <fieldset class="form-group mb-1">

                                                    @Html.TextBoxFor(m => tblEmail.Smtp, new { @class = "form-control", @placeholder = "SMTP" })
                                                    @Html.ValidationMessageFor(m => tblEmail.Smtp, "", new { @class = "error" })
                                                </fieldset>
                                            </div>
                                            <div class="col-md-4">
                                                <fieldset class="form-group mb-1">

                                                    @Html.TextBoxFor(m => tblEmail.Pop, new { @class = "form-control", @placeholder = "POP" })
                                                    @Html.ValidationMessageFor(m => tblEmail.Pop, "", new { @class = "error" })
                                                </fieldset>
                                            </div>
                                            <div class="col-md-4">
                                                <fieldset class="form-group mb-1">

                                                    @Html.TextBoxFor(m => tblEmail.Port, new { @class = "form-control", @placeholder = "PORT" })
                                                    @Html.ValidationMessageFor(m => tblEmail.Port, "", new { @class = "error" })
                                                </fieldset>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Check SMTP</button>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Check POP</button>
                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>




