@model IEnumerable<crewlinkship.Models.TblCrewList>
@{
    ViewBag.Title = "vwCrewlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-content content fixed-navbar-inner">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="col-xl-6 col-lg-12">
                <h4 class="content-header-title m-b-5 m-t-5">Crewlist</h4>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="form-inline float-right m-b-10">
                    <select class="form-control form-small" id="myselection">
                        <option value="Atlantic">Atlantic Crewlist</option>
                        <option value="FPD01">FPD01 Crewlist</option>
                        <option value="IMO">IMO</option>
                        <option value="OCIMF">OCIMF</option>
                        <option value="OLP">OLP Crew list</option>
                    </select>
                    <span class="p-l-10 p-r-10">|</span>
                    <button class="btn btn-dark form-small p-t-3 p-b-3 m-r-5 " type="button" data-toggle="tooltip"
                            data-trigger="hover" data-placement="top" data-title="Print" onclick="exported()">
                        <i class="fas fa-print"></i>
                    </button>
                    @*<input type="button" value="Open" onclick="window.open('@Url.Action("getIMOdata", "Home")')" />*@
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="row match-height" id="switch">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card m-b-0">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xl-9 col-lg-12">
                                <div class="total-crew p-l-10 p-b-10 p-t-10 p-r-10">
                                    <span>Total crew on board (2)</span> <i class="fa fa-square red m-l-10"></i> <span><a class="red">Relief over due crew (2)</a></span> <i class="fa fa-square green m-l-10"></i> <span><a class="green">Extra crew onboard (2)</a></span> <i class="fa fa-square m-l-10"></i> <span><a class="black">Extended Contract (4)</a></span><i class="fa fa-square m-l-10"></i> <span><a class="black">Reduced Contract(4)</a></span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-12">
                                <div class="float-right total-crew p-l-10 p-b-10 p-t-10 p-r-10">
                                    <i class="fas fa-history p-r-5"></i> <a href="#" class="black">Voyage History</a><span class="p-l-10 p-r-10"> | </span> <i class="fas fa-ship p-r-5"></i><a class="black" href="javascript:;">Vessel Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id='myVesselModal' class='modal'>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div id='myModalContent'></div>
                            </div>
                        </div>
                    </div>

                    <form action="/HomeController/vwCrewlist">
                        <div id="goal-list-scroll" class="table-responsive position-relative">

                            <table class="table table-hover table-bordered mb-0 crew-table table-striped grid" id="CustomerGrid">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Name</th>
                                        <th>Employee No</th>
                                        <th>Nationality</th>
                                        <th>Sign On Date</th>
                                        <th>Due Date</th>
                                        <th>Reliever - Rank : Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td scope="row"><span>@item.Rank.Code</span> <span hidden="hidden" id="crewIdcrewList">@item.CrewId</span></td>
                                            <td scope="row">                                               
                                                <a class="details" style="color: #0068F7" href="javascript:;">@(item.Crew!=null? item.Crew.FirstName:"") &nbsp;@(item.Crew!=null? item.Crew.MiddleName : "")&nbsp;@(item.Crew!=null? item.Crew.LastName : "")</a>
                                            </td>
                                            <td>@(item.Crew!=null? item.Crew.EmpNumber : "")</td>
                                            <td>@(item.Crew!=null? item.Crew.Country.Nationality : "")</td>
                                            <td>@item.SignOnDate?.ToString("dd/MMM/yyyy")</td>
                                            <td class="red">@item.DueDate?.ToString("dd/MMM/yyyy")</td>
                                            <td scope="row">
                                                <span hidden="hidden" id="crewReliverId">@item.Reliever1</span>
                                                @(item.ReliverRank!=null? item.ReliverRank.Code :""):

                                                <a class="details" style="color: #0068F7" href="javascript:;">

                                                    @(item.Reliever != null? item.Reliever.FirstName:"") &nbsp;@(item.Reliever != null? item.Reliever.MiddleName : "")&nbsp;@(item.Reliever != null? item.Reliever.LastName : "")
                                                    @*<a id="myInput" onkeyup="filterFunction()" onclick="myFunction() ">
                <i class="fas fa-ellipsis-v" href="javascript:;"></i>
            </a>
            <div class="dropdown">
                <div id="myDropdown" class="dropdown-content">
                    <ul>
                        <li class="dropdown dropdown-notification nav-item">
                            <span id="ReliverId">@item.Reliever1</span>
                            <a class="travelToVesselPopup" href="javascript:;">On Board Activity</a>
                        </li>
                    </ul>
                </div>
            </div>*@
                                                </a>
                                                @if (@item.Reliever1 > 0)
                                                {
                                                    <i class="fas fa-edit travelToVesselPopup" href="javascript:;"></i>
                                                    @*<i class="fa-solid fa-circle-check"></i>*@
                                                    @*<i class="fas fa-ellipsis-v travelToVesselPopup" href="javascript:;"></i>*@
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @*@Particulars Modal*@
                            <div id="partialModal" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header  navbar-dark">
                                            <h5 class="modal-title">
                                                &nbsp; &nbsp;<img class="brand-logo" alt="stack admin logo" src="~/Images/Crewlink-logo-light.png">
                                            </h5>
                                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*@Travel to vessel Modal*@
                        <div id="travelToVesselModal" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    </div>
                                    <div class="modal-body">
                                    </div>
                                        @*<div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&nbsp;
                                            <button type="submit" class="btn btn-info">Submit</button>
                                        </div>*@
                                </div>
                            </div>
                        </div>

                            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                            @*@travel to vessel*@
                            <script>
                                /* When the user clicks on the button,
                                toggle between hiding and showing the dropdown content */
                                function myFunction() {
                                    document.getElementById("myDropdown").classList.toggle("show");
                                }
                                function filterFunction() {
                                    var input, filter, a, i;
                                    input = document.getElementById("myInput");
                                    filter = input.value.toUpperCase();
                                    div = document.getElementById("myDropdown");
                                    a = div.getElementsByTagName("a");
                                    for (i = 0; i < a.length; i++) {
                                        txtValue = a[i].textContent || a[i].innerText;
                                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                            a[i].style.display = "";
                                        } else {
                                            a[i].style.display = "none";
                                        }
                                    }
                                }
                            </script>

                            @*@travel to vessel Popup*@
                            <script type="text/javascript">
                                $(function () {
                                    $("#CustomerGrid .travelToVesselPopup").click(function () {
                                        var crewId = $(this).closest("tr").find("td").find("#crewReliverId").html();
                                        $.ajax({
                                            type: "GET",
                                            url: "/Home/TravelToVessel",
                                            data: { 'crewId': crewId },
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "html",
                                            success: function (response) {
                                                $("#travelToVesselModal").find(".modal-body").html(response);
                                                $("#travelToVesselModal").find(".modal-footer").html(response);
                                                $("#travelToVesselModal").modal('show');
                                                $('#travelToVesselModal').on('hidden.bs.modal', function () {
                                                    location.reload();
                                                })
                                            },
                                            failure: function (response) {
                                                alert(response.responseText);
                                            },
                                            error: function (response) {
                                                alert(response.responseText);
                                            }
                                        });
                                    });
                                });
                            </script>
                            @*@Particulars*@
                            <script type="text/javascript">
                                $(function () {
                                    $("#CustomerGrid .details").click(function () {
                                        var crewId = $(this).closest("tr").find("td").find("#crewIdcrewList").html();
                                        $.ajax({
                                            type: "GET",
                                            url: "/Home/Details",
                                            data: { 'crewId': crewId },
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "html",
                                            success: function (response) {
                                                $("#partialModal").find(".modal-body").html(response);
                                                $("#partialModal").modal('show');
                                                $('#partialModal').on('hidden.bs.modal', function () {
                                                    location.reload();
                                                })
                                            },
                                            failure: function (response) {
                                                alert(response.responseText);
                                            },
                                            error: function (response) {
                                                alert(response.responseText);
                                            }
                                        });
                                    });
                                });
                            </script>
                            @*@Reliever*@
                            <script type="text/javascript">
                                $(function () {
                                    $("#CustomerGrid .details").click(function () {
                                        var crewId = $(this).closest("tr").find("td").find("#crewReliverId").html();
                                        $.ajax({
                                            type: "GET",
                                            url: "/Home/Details",
                                            data: { 'crewId': crewId },
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "html",
                                            success: function (response) {
                                                $("#partialModal").find(".modal-body").html(response);
                                                $("#partialModal").modal('show');
                                                $('#partialModal').on('hidden.bs.modal', function () {
                                                    location.reload();
                                                })
                                            },
                                            failure: function (response) {
                                                alert(response.responseText);
                                            },
                                            error: function (response) {
                                                alert(response.responseText);
                                            }
                                        });
                                    });
                                });
                            </script>

                            @*ExcelFile*@

                            <script>

                            function exported(e) {
                                var value = $("#myselection option:selected");
                                var name = value.val();
                                if (name == "Atlantic") {

                                        url = '@Url.Action("AtlanticExcelFile", "Home")';
                                    }
                                if (name == "OCIMF") {
                                        url = '@Url.Action("GetOCIMFExcelFile", "Home")';
                                }
                                if (name == "OLP") {
                                    url = '@Url.Action("OLPExcelFile", "Home")';
                                }
                                if (name == "IMO") {
                                    url =('@Url.Action("GenerateIMOPDF", "Home")');

                                     @*var url = '@Url.Action("GenerateIMOPDF", "Home", new {target="_blank"})';
                                              window.location.href = url;*@
                                    }
                                if (name == "FPD01") {
                                    url =('@Url.Action("generateFPD01", "Home")');


                                    }

                               $.ajax({
                                   type: "POST",
                                   url: url,
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                 }).done(function (data) {


                                     if (data.fileName != "") {
                                         window.location.href = "@Url.RouteUrl(new { Controller = "Home", Action = "DownloadXL" })/?fileName=" + data.fileName;
                                     }
                                 });
                                /*window.open(url);*/
                              }
                            </script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

  /*  .dropdown {
        position: relative;
        display: inline-block;
    }*/

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        min-width: 185px;
        border: 1px solid #babfc7;
        z-index: 1;
        top: 41px;
        border-radius: 0.25rem;
    }

   /* .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-bottom: 1px dotted #babfc7;
    }*/

    /*.dropdown a:hover {
        background-color: #ddd;
    }*/

    .show {
        display: block;
    }
</style>

