@model IEnumerable<crewlinkship.Models.TblCrewList>
@{
    ViewBag.Title = "vwCrewlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content content fixed-navbar-inner">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="col-xl-6 col-lg-12">
                <h4 class="content-header-title m-b-5 m-t-5">Crewlist</h4>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="form-inline float-right m-b-10">
                    <select class="form-control form-small" id="myselection">
                        <option value="Atlantic">Atlantic Crewlist</option>
                        <option value="FPD01">FPD01 Crewlist</option>
                        <option value="IMO">IMO</option>
                        <option value="OCIMF">OCIMF</option>
                        <option value="OLP">OLP Crew list</option>
                    </select>
                    <span class="p-l-10 p-r-10">|</span>
                    <button class="btn btn-dark form-small p-t-3 p-b-3 m-r-5 " type="button" data-toggle="tooltip"
                            data-trigger="hover" data-placement="top" data-title="Print" onclick="exported()">
                        <i class="fas fa-print"></i>
                    </button>
                    @*<input type="button" value="Open" onclick="window.open('@Url.Action("getIMOdata", "Home")')" />*@
                </div>
            </div>
        </div>

        <div class="content-body">
            <div class="row match-height" id="switch">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="card m-b-0">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-xl-9 col-lg-12">
                                    <div class="total-crew p-l-10 p-b-10 p-t-10 p-r-10">
                                        <span>Total crew on board (2)</span> <i class="fa fa-square red m-l-10"></i> <span><a class="red">Relief over due crew (2)</a></span> <i class="fa fa-square green m-l-10"></i> <span><a class="green">Extra crew onboard (2)</a></span> <i class="fa fa-square m-l-10"></i> <span><a class="black">Extended Contract (4)</a></span><i class="fa fa-square m-l-10"></i> <span><a class="black">Reduced Contract(4)</a></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-12">
                                    <div class="float-right total-crew p-l-10 p-b-10 p-t-10 p-r-10">
                                        <i class="fas fa-history p-r-5"></i> <a href="#" class="black">Voyage History</a><span class="p-l-10 p-r-10"> | </span> <i class="fas fa-ship p-r-5"></i><a class="black" href="javascript:;">Vessel Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id='myVesselModal' class='modal'>
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div id='myModalContent'></div>
                                </div>
                            </div>
                        </div>

                        <form action="/HomeController/vwCrewlist">
                            <div id="goal-list-scroll" class="table-responsive position-relative">
                                <table class="table table-hover table-bordered mb-0 crew-table table-striped grid" id="CustomerGrid">
                                    <thead>
                                        <tr>
                                            <th>Rank</th>
                                            <th>Name</th>
                                            <th>Employee No</th>
                                            <th>Nationality</th>
                                            <th>Sign On Date</th>
                                            <th>Due Date</th>
                                            <th>Reliever - Rank : Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td scope="row"><span>@item.Rank.Code</span> <span hidden="hidden" id="crewIdcrewList">@item.CrewId</span></td>
                                                <td scope="row">
                                                    <a href="#"><i class="fas fa-ellipsis-v"></i><span hidden="hidden" id="crewReliverId">@item.Reliever1</span></a>
                                                    <a class="details" style="color: #0068F7" href="javascript:;">@(item.Crew!=null? item.Crew.FirstName:"") &nbsp;@(item.Crew!=null? item.Crew.MiddleName : "")&nbsp;@(item.Crew!=null? item.Crew.LastName : "")</a>
                                                </td>
                                                <td>@(item.Crew!=null? item.Crew.EmpNumber : "")</td>
                                                <td>@(item.Crew!=null? item.Crew.Country.Nationality : "")</td>
                                                <td>@item.SignOnDate?.ToString("dd/MMM/yyyy")</td>
                                                <td class="red">@item.DueDate?.ToString("dd/MMM/yyyy")</td>
                                                <td scope="row">
                                                    @(item.ReliverRank!=null? item.ReliverRank.Code :""):<a href="#"><i class="fas fa-ellipsis-v"></i></a>
                                                    <a class="details" style="color: #0068F7" href="javascript:;">
                                                        @(item.Reliever != null? item.Reliever.FirstName:"") &nbsp;@(item.Reliever != null? item.Reliever.MiddleName : "")&nbsp;@(item.Reliever != null? item.Reliever.LastName : "")
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div id="partialModals" class="modal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body" style="padding:0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="partialModal" class="modal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                                        <div class="modal-content" style="background: #F1F1F1">
                                            <div class="modal-body" style="padding:0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                                @*@Particulars*@
                                <script type="text/javascript">
                                    $(function () {
                                        $("#CustomerGrid .details").click(function () {
                                            var crewId = $(this).closest("tr").find("td").find("#crewIdcrewList").html();
                                            $.ajax({
                                                type: "GET",
                                                url: "/Home/Details",
                                                data: { 'crewId': crewId },
                                                contentType: "application/json; charset=utf-8",
                                                dataType: "html",
                                                success: function (response) {
                                                    $("#partialModal").find(".modal-body").html(response);
                                                    $("#partialModal").modal('show');
                                                    $('#partialModal').on('hidden.bs.modal', function () {
                                                        location.reload();
                                                    })
                                                },
                                                failure: function (response) {
                                                    alert(response.responseText);
                                                },
                                                error: function (response) {
                                                    alert(response.responseText);
                                                }
                                            });
                                        });
                                    });
                                </script>
                                @*@Reliever*@
                                <script type="text/javascript">
                                    $(function () {
                                        $("#CustomerGrid .details").click(function () {
                                            var crewId = $(this).closest("tr").find("td").find("#crewReliverId").html();
                                            $.ajax({
                                                type: "GET",
                                                url: "/Home/Details",
                                                data: { 'crewId': crewId },
                                                contentType: "application/json; charset=utf-8",
                                                dataType: "html",
                                                success: function (response) {
                                                    $("#partialModal").find(".modal-body").html(response);
                                                    $("#partialModal").modal('show');
                                                    $('#partialModal').on('hidden.bs.modal', function () {
                                                        location.reload();
                                                    })
                                                },
                                                failure: function (response) {
                                                    alert(response.responseText);
                                                },
                                                error: function (response) {
                                                    alert(response.responseText);
                                                }
                                            });
                                        });
                                    });
                                </script>

                                @*ExcelFile*@

                                <script>

                            function exported(e) {
                                var value = $("#myselection option:selected");
                                var name = value.val();
                                if (name == "Atlantic") {

                                        url = '@Url.Action("AtlanticExcelFile", "Home")';
                                    }
                                if (name == "OCIMF") {
                                        url = '@Url.Action("GetOCIMFExcelFile", "Home")';
                                }
                                if (name == "OLP") {
                                    url = '@Url.Action("OLPExcelFile", "Home")';
                                }
                                if (name == "IMO") {
                                    url =('@Url.Action("GenerateIMOPDF", "Home")');

                                     @*var url = '@Url.Action("GenerateIMOPDF", "Home", new {target="_blank"})';
                                              window.location.href = url;*@
                                    }
                                if (name == "FPD01") {
                                    url =('@Url.Action("generateFPD01", "Home")');


                                    }

                               $.ajax({
                                   type: "POST",
                                   url: url,
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                 }).done(function (data) {


                                     if (data.fileName != "") {
                                         window.location.href = "@Url.RouteUrl(new { Controller = "Home", Action = "DownloadXL" })/?fileName=" + data.fileName;
                                     }
                                 });
                                /*window.open(url);*/
                              }
                                </script>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


